<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="s1" class="com.bean.Student">
<constructor-arg name="id" value="1"></constructor-arg>
<constructor-arg name="fname" value="Paresh"></constructor-arg>
<constructor-arg name="lname" value="Kakadiya"></constructor-arg>
<constructor-arg name="email" value="p.kakadiya@yahoo.com"></constructor-arg>
</bean>
</beans>
